body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif !important;
}

.oculta {
    display: none;
}

.line {
    width: 20%;
    color: #01B6AD;
    height: 2px !important;
}

.color-one {
    color: #01756f;
}

.color-two {
    color: #029c94;
}

.color-three {
    color: #01b6ad;
}

.bg-one {
    background-color: #01756F;
}

.bg-two {
    background-color: #029C94;
}

.bg-three {
    background-color: #01B6AD;
}

.fw-700 {
    font-weight: 700;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.required {
    color: #f44336;
}

.order-xs-1 {
    order: 1!important;
}

.order-xs-2 {
    order: 2!important;
}

/* TOP MENU */
#top-menu {
    background-color: #000;
    padding: 10px;
    border-bottom: 1px solid #01B6AD;
}

#top-menu span a {
    color: #FFF;
    text-decoration: none;
}

#top-menu span a:hover {
    color: #01B6AD;
}

#top-menu span:first-child {
    margin-right: 15px;
}

/* NAVBAR */
nav.navbar {
    background-color: #000 !important;
    opacity: .8;
    border-bottom: 3px solid #01B6AD;
    position: inherit !important;
    top: 45px;
    width: 100%;
}
a.nav-link {
    color: #FFF !important;
    font-size: 14px !important;
}

a.nav-link:hover {
    color: #01B6AD !important;
}

.form-control:focus {
    border-color: #cccccc !important;
    box-shadow: none !important;
}

.button-filter:hover {
    cursor: pointer;
}

/* CONTATO */
.btn-default {
    color: #fff !important;;
    background-color: #01B6AD !important;
    border-color: #01B6AD !important;
    font-weight: 300 !important;
}

.btn-default:hover {
    color: #fff !important;;
    background-color: #029c94 !important;
    border-color: #029c94 !important;
    font-weight: 300 !important;
}

#contato-redes {
    margin-top: 135px;
}

/* RODAPÉ */
#rodape {
    background-color: #000;
    padding: 20px 50px;
    border-top: 1px solid #01B6AD;
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#rodape a {
    text-decoration: none;
    color: #FFF;
}

/* VOLTAR AO TOPO */
#goTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
}

#goTop a {
    color: #01756f;
}

/* MOBILE */
@media screen and (max-width: 576px) { /* grid xs*/
    #contato-redes {
        margin-top: 0px;
    }
    #rodape div {
        text-align: center !important;
    }
    div.arquivo ul {
        list-style: none;
        display: inline !important;
        margin-top: 20px;
    }
    .curso {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) { /* grid sm*/
    #contato-redes {
        margin-top: 0px;
    }
    #rodape div {
        text-align: center !important;
    }
    div.arquivo ul {
        list-style: none;
        display: flex;
        margin-top: 20px;
    }
    .course-item {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1196px) and (min-width: 992px) { /* grid md*/
    .course-dsc {
        min-height: 120px !important;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) { /* grid md*/

}

.cat-presencial, .cat-presencial:hover {
    text-decoration: none;
    color: #CCCCCC;
}

.cat-presencial span {
    background-color: #D51E1E;
    color: #FFF;
    padding: 6px 10px;
}

.cat-online, .cat-online:hover {
    text-decoration: none;
    color: #CCCCCC;
}

.cat-online span {
    background-color: #01B6AD;
    color: #FFF;
    padding: 6px 8px;
}

.cat-todos, .cat-todos:hover {
    text-decoration: none;
    color: #CCCCCC;
}

.cat-todos span {
    background-color: #333333;
    color: #FFF;
    padding: 6px 8px;
}

.course-item {
    border: 1px solid #01b6ad;
    padding: 0 !important;
    background-color: #F1F1F1;
}

#indicators a {
    margin-right: 10px;
}

.course-img span {
    top: -10px;
    padding: 8px 12px;
}

.course-img {
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.course-dsc {
    padding: 0 25px;
    margin-bottom: 2rem;
    position: relative;
    word-wrap: break-word;
    height: 120px;
}

.d-grid button {
    font-weight: 500 !important;
}

.course-dsc .cat-presencial, .course-dsc .cat-online {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}

.course-dsc .cat-presencial span, .course-dsc .cat-online span {
    padding: 15px 20px;
}

/* PAGINAÇÃO */
.course-pagination a {
    display: inline-block;
    padding: 7px 10px;
    border:1px solid #01B6AD;
    margin:5px;
    text-decoration: none !important;
    color:#FFF;
    border-radius:4px;
    background-color:#01B6AD ;
}

.course-pagination a.active {
    background-color: #01756F;
    border:1px solid #01B6AD;
}

.course-pagination a:hover {
    background-color: #01756F;
    border:1px solid #01B6AD;
    text-decoration: none;
    color:#fff;
}

.notFoundCourses {
    text-align: center !important;
}